@import './base.css';

#app {
  /* max-width: 1280px; */
  width:100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-color: rgb(205, 195, 214);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a,
.green {
  text-decoration: none;
  color:rgb(238, 237, 249);

  transition: 0.4s;
}

@media (hover: hover) {

}

@media (min-width: 1024px) {
  body {
    background-color: rgb(205, 195, 214);
  }

  #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    background-color: rgb(205, 195, 214);
  }
}
